body {
  font-family: Roboto !important;
 }

.main-head {
  background: url(../images/header_bg.jpg) repeat-x;
  padding: 0 0;
  margin: 0 !important;
  width: 100%;
  float: left;
}
a:hover, a:active, a:focus{color:#fff;}
.nav-menu {
  background-color: #003366;
  height: 34px;
  clear: both;
}

.main-head img {
  padding-top: 15px;
}

.footer-section p {
  font-size: 12px;
  padding-top: 10px;
}

.btn-login {
  border: none;
  border-radius: 0;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  background-color: #4f3224;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.form-heading {
  color: #fff;
  font-size: 23px;
}

.panel h2 {
  color: #254193;
  font-size: 20px;
  margin: 0 0 20px 0;
  font-weight: 500;
}

.panel p {
  color: #777777;
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 24px;
}

.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}

.panel {
  margin-bottom: 30px;
}

.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 100%;
  padding: 0px 30px 10px 30px;
}

.login-form .form-group {
  margin-bottom: 10px;
}

.login-form {
  text-align: center;
}

.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}

.login-form .btn.btn-primary {
  background: #254194 none repeat scroll 0 0;
  border-color: #254194;
  color: #ffffff;
  font-size: 16px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
  border-radius: 2px;
}
.forgot {
  text-align: left;
  margin-bottom: 30px;
}

.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}

.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}

.back {
  text-align: left;
  margin-top: 10px;
}

.back a {
  color: #444444;
  font-size: 13px;
  text-decoration: none;
}

.login-modal .modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: none;
}

.login-modal .modal-content {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
}

.close {
  margin-top: -2px;
}

.panel img {
  margin: 0 auto;
}


/*-----*/

.form-control {
  height: 40px;
  box-shadow: none;
  color: #000;
}

.form-control:focus {
  border-color: #254194;
}

.form-control,
.btn {
  border-radius: 1px;
}

.signup-form {
  width: 600px;
  margin: 0 auto;
  padding: 30px 0;
}

.signup-form h2 {
  margin: 0 0 15px;
  position: relative;
  text-align: center;
  color: #254193;
  font-size: 24px;
  margin: 0 0 20px 0;
  font-weight: 500;
}

.signup-form h2:before,
.signup-form h2:after {
  content: "";
  height: 2px;
  width: 30%;
  background: #d4d4d4;
  position: absolute;
  top: 50%;
  z-index: 2;
}

.signup-form h2:before {
  left: 0;
}

.signup-form h2:after {
  right: 0;
}

.signup-form .hint-text {
  color: #999;
  margin-bottom: 30px;
  text-align: center;
}

.signup-form form {
  color: #777;
  border-radius: 2px;
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.signup-form .form-group {
  margin-bottom: 20px;
}

.signup-form input[type="checkbox"] {
  margin-top: 3px;
}

.signup-form .btn {
  font-size: 16px;
  font-weight: bold;
  min-width: 140px;
  outline: none !important;
}

.signup-form .row div:first-child {
  padding-right: 10px;
}

.signup-form .row div:last-child {
  padding-left: 10px;
}

.signup-form a {
  color: #fff;
  text-decoration: underline;
}

.signup-form a:hover {
  text-decoration: none;
}

.signup-form form a {
  color: #e25b43;
  text-decoration: none;
}

.signup-form form a:hover {
  text-decoration: underline;
}

.signup-brdr {
  border-left: 1px solid #a7b9df;
  border-right: 1px solid #a7b9df;
}

.signup-btn {
  background: #254194 none repeat scroll 0 0;
  border: none;
  color: #ffffff;
  font-size: 16px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
  border-radius: 2px;
}
.home-container{
  background: url('../images/home-bg.jpg');
}
.home-container h2{
  font-size: 40px;
  font-family: roboto;
  font-weight: 400;
  text-transform: uppercase;
  margin:70px 0;
}
.home-container h4{
  text-transform: uppercase;
  color:#2f3522;
  font-weight: 500;
  font-size:20px;
  font-family: roboto;
  margin-bottom:60px;
}
.special-text{
  color:#d02401;
  font-weight: bold;
}
.btn-vacancy{
  background: #f98401;
  padding: 14px 30px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-family: roboto;
  letter-spacing: 1px;
  text-decoration: none;
  margin-top:20px;
  margin-bottom:20px;
}
.btn-vacancy:hover{
  text-decoration: none;
  color:#fff;
  background: #003366;
}
.vacancy-section{
  margin-bottom: 60px;
  margin-top: 60px;
}
.btn-popup{
  border-radius: 0;
  padding: 9px 50px;
  margin-right: 30px;
  border:solid 1px #4f3224;
  font-weight: 500;

}
.btn-popup:hover{
  background: transparent;
 }

.btn-regis{
  background: transparent;
  border: solid 1px #4f3224;
  padding: 9px 35px;
  color: #000;
  font-weight: 500;
}
.btn-regis:hover{
  background: #4f3224;
  color:#fff;
}
.btn-group{
  margin-top:20px;
  margin-bottom:20px;
}
.search-section{
  background: #eef3fd;
}
.search-main{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.search-tab{
  width: 252px!important;
}
.search-main .form-control{
  border-radius: 0;
  margin-right: 10px;
}
.search-main label{
  font-size: 18px;
  font-weight: normal;
  margin-right: 10px;
}
.btn-search, .btn-search:hover, .btn-search:active, .btn-search:visited{
  background: #254194 none repeat scroll 0 0;
  border: none;
  padding: 7px 39px;
  font-size: 16px;
  color:#fff;
  border-radius: 0;

}
.job-section{
   background-color: #efefef;
   border-radius:2px;
   /* padding:15px; */
   margin:20px;
  }
  .job-section h4{
    color: #e07828;
    font-size: 16px;
    border-bottom: solid 1px #ddd;
    padding: 10px;
    padding-left: 20px;
  }
  .job-section h3{
    color: #254194;
    font-size: 18px;
    padding-left: 20px;
  }
  .job-section p{
    font-size: 13px;
    padding-left: 20px;
    padding-bottom: 20px;
    color:#000;
  }
  .first-section{
    padding-left:0;
    padding-right:0;
    border-bottom:solid 1px #ddd;
    border-right: solid 1px #ddd;
  }
.btn-joblist, .btn-joblist:hover, .btn-joblist:visited, .btn-joblist:active{
  font-size:14px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 7px 30px;
}

.second-section{
  padding-left: 0;
  padding-right: 0;
  border-right: solid 1px #ddd;
  min-height: 200px;
  border-bottom: solid 1px #ddd;
}
.second-section p{
  font-size:14px;
  color:#000;
  margin-top: 18px;
  padding-left: 0;
  text-align: center;
}
.second-section h4{
  padding-left:0;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #254193;
  border-color: #254193;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: #254193;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #254193;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.vacancy-detail-page{
  margin: 50px 0;
}
.vacancy-detail-page h2{
  font-size: 20px;
  color: #254193;
  margin-top: 0;
  margin-bottom: 20px;
  
}
.card {
  margin-bottom: 15px;
  border-radius: 0;
  box-shadow: 0 3px 5px rgba(0,0,0,.1);
}
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 20px;
}
.card-title {
  margin-bottom: 20px;
}
.text-muted {
  color: #6c757d!important;
}
.card-body .btn-search{
  margin-left: 0px;
}
.more, .more:hover, .more:visited, .more:active{
color: #254193;
vertical-align: -webkit-baseline-middle;
text-decoration: none;
}
.vacancy-detail-page ul{
  padding-left: 21px;
  list-style-type: circle;
}
.vacancy-form label{
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
}
.vacancy-form .form-control{
  height: 30px;
  line-height: 20px;
  padding: 2px 12px;
}
.deputation-form h2{
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
}
.deputation-form .form-head{
  background: #254193;
  margin-bottom: 10px;
}
.deputation-form .vacancy-form label {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
}
.education-control{
  margin-bottom: 5px;
  border-radius: 0px;
}
.edu-div{
  padding-left:0;
  padding-right:0;
}
.vacancy-form p{
  font-size: 12px;
  margin-top:5px;
}
.vacancy-form textarea.form-control {
  height: auto;
}
.vacancy-detail-page h3{
  color: #254193;
  font-size: 24px;
  margin-bottom: 20px;
}
.deputation-form .btn-search, .deputation-form .btn-search:hover, .deputation-form .btn-search:active, .deputation-form .btn-search:visited {
  font-size: 14px;
}
.form-gap {
  padding-top: 30px;
}
.user-profile h2{
  color: #254194;
}
.user-profile h3{
  color: #254194;
}
.table .thead-dark th {
  color: #fff;
  background-color: #212529;
  border-color: #32383e;
  font-weight: normal;
}
.user-dropdown{
  float: right;
}
.user-dropdown .btn-primary{
  color: #fff;
  background-color: #163366;
  border-color: #163366;
}
/* .vacancy-page{padding:10px} */
